/*ДОПОЛНИТЕЛЬНЫЙ ФАЙЛ (ИМПОРТИРУЕТСЯ)*/

footer {
    margin-top: 2rem;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(135deg, #0a0a0a, #1a1a2e);
    border-top: 2px solid #00ff88;
    color: #aaa;
}

footer a {
    color: #00ff88;
}

footer a:hover {
    color: #00ccff;
}